---
import BaseLayout from "../layouts/BaseLayout.astro";
import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Contactinfo = `
query GetPage {
  page(id: "contact-details", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
    contactInfo {
      contactDetails {
        contactDetail
      }
    }
    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          height
          width
        }
      }
    }
  }
}
`;

let contactinfo = await fetchAPI(Contactinfo);
---


  <BaseLayout title={contactinfo.page.seo.title} fullHead={contactinfo.page.seo.fullHead}>
  <section class="contact-us-flow">
    <div class="container">
      <!-- IMAGE -->
      <div class="main-img">
        <img
          src={contactinfo.page.featuredImage.node.sourceUrl}
          alt={contactinfo.page.title}
        />
      </div>

      <!-- CONTENT -->
      <div class="main-titles-con" set:html={contactinfo.page.content} />

      <!-- CONTACT OPTIONS -->
      <div class="contact-info-flows">
        <h3 class="fs-30">Contact Options</h3>

        <div class="row-flow-contact">
          {
            contactinfo.page.contactInfo.contactDetails.map((item) => (
              <div set:html={item.contactDetail} />
            ))
          }
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
