---
import BaseLayout from "../layouts/BaseLayout.astro";

import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Howtoenrol = `
query GetPage {
  page(id: "how-to-enroll-employer-groups", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
   
    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          file
          filePath
          height
          width
        }
      }
    }
  }
}
`;

let employerenroll = await fetchAPI(Howtoenrol);
---

   <BaseLayout title={employerenroll.page.seo.title} fullHead={employerenroll.page.seo.fullHead}>
  <section class="contact-us-flow how-to-enrol">
    <div class="container">
      <div class="main-img">
        <img
          src={employerenroll.page.featuredImage.node.sourceUrl}
          alt={employerenroll.page.title}
          height={employerenroll.page.featuredImage.node.mediaDetails.height}
          width={employerenroll.page.featuredImage.node.mediaDetails.width}
        />
      </div>
      <div set:html={employerenroll.page.content} />
    </div>
  </section>
</BaseLayout>
