---
import BaseLayout from "../layouts/BaseLayout.astro";

import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Homequery = `

query GetPage {
  page(id: "individuals-families", idType: URI) {
    title
    
    content
    slug
    uri
 seo {
      title
      fullHead
    }
    familyPlans {
      fivePointLetter
      familyPlan {
        title
        backgroundColor
        fieldGroupName
        sobPlan
 sbcPlan
      
      }

      sixtyFortyPlan {
        title
        backgroundColor
        sbcPlan
        sobPlan

      }

      eightyTwentyPlan {
        title
        backgroundColor
        sbcPlan
        sobPlan

    
      }
    }

    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          height
          width
        }
      }
    }
  }
}
  
`;

let plan = await fetchAPI(Homequery);
---

   <BaseLayout title={plan.page.seo.title} fullHead={plan.page.seo.fullHead}>
  <section class="employermain-sec section-padding">
    <div class="container">
      <div class="employer-holderss">
        <div class="imageempoyergroups">
          <img
            src={plan.page.featuredImage.node.sourceUrl}
            alt={plan.page.title}
            width={plan.page.featuredImage.node.mediaDetails.width}
            height={plan.page.featuredImage.node.mediaDetails.height}
          />
        </div>
        <h1 class="fs-40">{plan.page.title}</h1>
      </div>
    </div>
  </section>

  <section class="shoupourplans-sec section-padding">
    <div class="container">
      <div class="plans-holderss">
        <div class="shopaboutgriops pt-0" set:html={plan.page.content} />

        <div class="plans-gridholders">
          <div class="row palnsrows justify-content-center">
            {
              plan.page.familyPlans.familyPlan.map((plan) => (
                <div class="col-md-6 col-lg-4">
                  <div class="holders-planssss">
                    <h4 class="fs-20">{plan.title}</h4>

                    <div class="image-holderssplanss">
                      <div
                        class="allchild-holders"
                        style={`background: ${plan.backgroundColor}`}
                      >
                        <div class="image-dtaaplans">
                          <img
                            src="/assets/img/logoplans.png"
                            width="350"
                            height="160"
                            loading="lazy"
                          />
                        </div>

                        <div class="allplans-detailsss">
                          <p>
                            Individual and Family Plan <br /> U.S. ONLY
                          </p>
                        </div>
                      </div>
                    </div>

                    <div class="button-plansss">
                      <div class="grid-butttonsplans">
                        <div class="universal-newbutton">
                          <a
                            href={plan.sobPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SOB
                          </a>
                        </div>

                        <div class="universal-newbutton">
                          <a
                            href={plan.sbcPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SBC
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>

          <div class="row palnsrows justify-content-center">
            <div class="col-12">
              <div class="textplans-mainsss">
                <h4 class="fs-40">60/40 PLANS</h4>
              </div>
            </div>
            {
              plan.page.familyPlans.eightyTwentyPlan.map((plan) => (
                <div class="col-md-6 col-lg-4">
                  <div class="holders-planssss">
                    <h4 class="fs-20">{plan.title}</h4>

                    <div class="image-holderssplanss">
                      <div
                        class="allchild-holders"
                        style={`background: ${plan.backgroundColor}`}
                      >
                        <div class="image-dtaaplans">
                          <img
                            src="/assets/img/logoplans.png"
                            width="350"
                            height="160"
                            loading="lazy"
                          />
                        </div>

                        <div class="allplans-detailsss">
                          <p>Individual and Family Plan</p>
                        </div>
                      </div>
                    </div>

                    <div class="button-plansss">
                      <div class="grid-butttonsplans">
                        <div class="universal-newbutton">
                          <a
                            href={plan.sobPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SOB
                          </a>
                        </div>

                        <div class="universal-newbutton">
                          <a
                            href={plan.sbcPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SBC
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>
          <div class="row palnsrows justify-content-center">
            <div class="col-12">
              <div class="textplans-mainsss">
                <h4 class="fs-40">80/20 PLANS</h4>
              </div>
            </div>
            {
              plan.page.familyPlans.eightyTwentyPlan.map((plan) => (
                <div class="col-md-6 col-lg-4">
                  <div class="holders-planssss">
                    <h4 class="fs-20">{plan.title}</h4>

                    <div class="image-holderssplanss">
                      <div
                        class="allchild-holders"
                        style={`background: ${plan.backgroundColor}`}
                      >
                        <div class="image-dtaaplans">
                          <img
                            src="/assets/img/logoplans.png"
                            width="350"
                            height="160"
                            loading="lazy"
                          />
                        </div>

                        <div class="allplans-detailsss">
                          <p>Individual and Family Plan</p>
                        </div>
                      </div>
                    </div>

                    <div class="button-plansss">
                      <div class="grid-butttonsplans">
                        <div class="universal-newbutton">
                          <a
                            href={plan.sobPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SOB
                          </a>
                        </div>

                        <div class="universal-newbutton">
                          <a
                            href={plan.sbcPlan}
                            target="_blank"
                            class="newbutton-universal"
                          >
                            COMPREHENSIVE Plan SBC
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              ))
            }
          </div>

          <div
            class="reconixe-holders"
            set:html={plan.page.familyPlans.fivePointLetter}
          />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
