---
import BaseLayout from "../layouts/BaseLayout.astro";

import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Homequery = `query GetPage {
  page(id: "member", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          
          height
          width
        }
      }
    }
    memberPortal {
      memberPortalInfo
      findeCarePortal
      optumrx {
        link
        subTitle
        title
        optumrxProfile {
          node {
            sourceUrl
            mediaDetails {
              file
              filePath
              height
              width
            }
          }
        }
      }
      formFinderPortal
    }
  }
}`;

let member = await fetchAPI(Homequery);

const items = member.page.memberPortal.optumrx;
---

   <BaseLayout title={member.page.seo.title} fullHead={member.page.seo.fullHead}>
  <section class="member-sec">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-7" set:html={member.page.content} />
        <div class="col-lg-5">
          <div class="image-members">
            <img
              src={member.page.featuredImage.node.sourceUrl}
              alt={member.page.title}
              width={member.page.featuredImage.node.mediaDetails.width}
              height={member.page.featuredImage.node.mediaDetails.height}
            />
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="memberportal-secc"
    set:html={member.page.memberPortal.memberPortalInfo}
  />
  <section
    class="finalcare-sec"
    set:html={member.page.memberPortal.findeCarePortal}
  />
  <section class="pharmacy">
    <div class="container">
      <div class="headings-flow">
        <h2 class="fs-40">
          Get the Most from Your Pharmacy Coverage Through OptumRx
        </h2>
      </div>
      <div class="grid-sytem">
        {
          items.map((item) => (
            <div class="grid-ph">
              <div class="ph-icons">
                <img
                  src={item.optumrxProfile.node.sourceUrl}
                  alt={item.title}
                />
              </div>

              <div class="ph-content">
                <h3>{item.title}</h3>
                <p>{item.subTitle}</p>

                <div class="univesral-button">
                  <a href={item.link} target="_blank" class="c-btn">
                    <span>OptumRx</span>
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="finalcare-sec">
    <div class="container">
      <div
        class="row gy-4 align-items-center"
        set:html={member.page.memberPortal.formFinderPortal}
      />
    </div>
  </section>
</BaseLayout>
