---
import BaseLayout from "../layouts/BaseLayout.astro";

import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Homequery = `query GetPage {
  page(id: "optumrx", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
        optumrx {
      pharmacyRxInfo
      aboutOptumrx
      optumrxFeatures
    }
    featuredImage {
      node {
       sourceUrl
        mediaDetails {
          file
          filePath
          height
          width
        }
      }
    }
  }
}`;

let optumrx = await fetchAPI(Homequery);
---

     <BaseLayout title={optumrx.page.seo.title} fullHead={optumrx.page.seo.fullHead}>
  <section class="member-sec">
    <div class="container">
      <div class="row gy-4 align-items-center">
        <div class="col-lg-7">
          <div class="allabout-memberss flow" set:html={optumrx.page.content} />
        </div>
        <div class="col-lg-5">
          <div class="image-members">
            <a href="https://www.optumrx.com/" target="_blank">
              <img
                src={optumrx.page.featuredImage.node.sourceUrl}
                alt={optumrx.page.title}
                width={optumrx.page.featuredImage.node.mediaDetails.width}
                height={optumrx.page.featuredImage.node.mediaDetails.height}
              /></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="memberportal-secc">
    <div class="container" set:html={optumrx.page.optumrx.pharmacyRxInfo} />
  </section>

  <section class="optum-rx-welcome">
    <div class="container" set:html={optumrx.page.optumrx.aboutOptumrx} />
  </section>

  <section class="optumax-fe">
    <div class="container" set:html={optumrx.page.optumrx.optumrxFeatures} />
  </section>
</BaseLayout>
