---
import BaseLayout from "../layouts/BaseLayout.astro";

import { fetchAPI } from "../lib/wordpress";

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

const Homequery = `query GetPage {
  page(id: "teladoc", idType: URI) {
    title
    content
    slug
    uri
     seo {
      title
      fullHead
    }
    teladoc {
      appDownloadSection
      teladocInfo {
        teladocProfile {
          node {
            sourceUrl
          }
        }
        teladocDescription
        teladocTitle
      }
    }
    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          file
          filePath
          height
          width
        }
      }
    }
  }
}`;

let teladoc = await fetchAPI(Homequery);
---

     <BaseLayout title={teladoc.page.seo.title} fullHead={teladoc.page.seo.fullHead}>
  <section class="teladoc">
    <div class="container">
      <div class="main-logo-teladoc">
        <a href="https://www.teladochealth.com/" target="_blank">
          <img
            src={teladoc.page.featuredImage.node.sourceUrl}
            alt={teladoc.page.title}
            height={teladoc.page.featuredImage.node.mediaDetails.height}
            width={teladoc.page.featuredImage.node.mediaDetails.width}
          /></a
        >
      </div>
      <div class="tedoc-titles" set:html={teladoc.page.content} />

      <div class="main-grid-flow">
        {
          teladoc.page.teladoc.teladocInfo.map((curent) => {
            console.log();
            return (
              <div class="grid-one">
                <div class="icons">
                  <img
                    src={curent.teladocProfile.node.sourceUrl}
                    alt={curent.teladocTitle}
                    height="100"
                    width="108"
                  />
                </div>
                <div class="content">
                  <h3>{curent.teladocTitle}</h3>
                  <p>{curent.teladocDescription}</p>
                </div>
              </div>
            );
          })
        }
      </div>
      <div
        class="main-center-content"
        set:html={teladoc.page.teladoc.appDownloadSection}
      />
    </div>
  </section>
</BaseLayout>
