---
import { fetchAPI } from "../../lib/wordpress";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";

// 1. This function is MANDATORY for dynamic routes in Astro.
// It tells Astro to create a page for 'isaac-belbel'

Astro.response.headers.set(
  'Cache-Control',
  'public, s-maxage=120, stale-while-revalidate=30'
);

export async function getStaticPaths() {
  return [
    { params: { slug: "isaac-belbel" } },
    { params: { slug: "norman-rhodes-ii-2" } },
    { params: { slug: "margaret-belbel" } },
    { params: { slug: "alexias-johnson" } },
    { params: { slug: "catalina-casillas" } },
    { params: { slug: "ernestina-de-albino" } },
    { params: { slug: "alejandra-avalos" } },
    { params: { slug: "iris-perez" } },
  ];
}

// 2. This grabs 'isaac-belbel' from the URL
const { slug } = Astro.params;

/* 3️⃣ SINGLE MEMBER QUERY */
const singleQuery = `query GetMember {
  member(id: "${slug}", idType: SLUG) {
    title
    excerpt
    slug
    memberInfo{
      profileImage {
        node {
          id
          sourceUrl
        }
      }
     contactInfo
    }
    
    content
    memberCategories {
      nodes {
        name
        slug
      }
    }
    featuredImage {
      node {
        sourceUrl
        mediaDetails {
          width
          height
        }
      }
    }
  }
}`;

const data = await fetchAPI(singleQuery);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="single-team-mamber">
    <div class="container">
      <div class="main-conent">
        <div class="team-img">
          <div class="img">
            <img
              src={data.member.memberInfo.profileImage.node.sourceUrl}
              alt="founder"
            />
          </div>
          <div class="contact-info-flow">
            <div set:html={data.member.memberInfo.contactInfo} />
          </div>
        </div>
        <div class="team-content">
          <div set:html={data.member.content} />
          <a href={`${Astro.url.origin}/management-team`}
            >Back to Management Team</a
          >
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
