---
import { fetchAPI } from "../lib/wordpress";
import { Image } from "astro:assets";

const homeslider = `
query GetAllPlans {
  homeSliders(first: 10, where: { orderby: { field: DATE, order: DESC } }) {
    nodes {
      content
      title
      date
      homeSliderImage {
        homeSliderImg {
          sliderImg {
            node {
              sourceUrl
              mediaDetails {
                width
                height
                sizes {
                  name
                  sourceUrl
                  width
                  height
                }
              }
            }
          }
        }
      }
    }
  }
}`;
const Slider = await fetchAPI(homeslider);
---

{
  Slider.homeSliders.nodes.map((curent, index) => {
    return (
      <div class="slider-js">
        <div class="swiper mySwiperthree">
          <div class="swiper-wrapper">
            {curent.homeSliderImage.homeSliderImg.map((curentval, i) => {
              const img = curentval.sliderImg.node;

              return (
                <div class="swiper-slide">
                  <div class="main-slider-img">
                    
                    <Image
                      src={img.sourceUrl}
                      alt={curent.title}
                      width={img.mediaDetails.width}
                      height={img.mediaDetails.height}
                      format="avif"
                      quality={80}
                      loading={index === 0 && i === 0 ? "eager" : "lazy"}
                      decoding="async"
                    />

                  </div>
                </div>
              );
            })}
          </div>
        </div>

        <div class="top-section-data">
          <div set:html={curent.content} style="background-color: transparent;" />
        </div>
      </div>
    );
  })
}
