---
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { fetchAPI } from "../../lib/wordpress";
import BaseLayout from "../../layouts/BaseLayout.astro";

const GetPage = `
query GetPage {
  page(id: "about-us", idType: URI) {
    title
    content
    slug
    date
    seo {
      title
      fullHead
    }
    featuredImage{
      node{
        sourceUrl
        altText
        mediaDetails{
          width
          height
        }
      }
    }
  }
}
`;


const postquery = `query GetAllPost {
  members {
    nodes {
      title
      slug
      excerpt
      memberCategories{
        nodes{
          name
          slug
        }
      }
      featuredImage {
        node {
          sourceUrl
          mediaDetails {
            width
            height
          }
        }
      }
    }
  }
}`;

const data = await fetchAPI(GetPage);
const post = await fetchAPI(postquery);



const Executive = post.members.nodes.filter((current) => {
  return current.memberCategories.nodes[0]?.slug === "executive";
});

const Administration = post.members.nodes.filter((current) => {
  return current.memberCategories.nodes[0]?.slug === "administration";
});
---

<BaseLayout title={data.page.seo.title} fullHead={data.page.seo.fullHead}>
  <section class="in-banner">
    <div class="container">
      <div class="main-titles">
        <h1 class="fs-60">{data.page.title}</h1>
      </div>
      <div class="main-about">
        <img
          src={data.page.featuredImage.node.sourceUrl}
          alt={data.page.title}
          width={data.page.featuredImage.node.mediaDetails.width}
          height={data.page.featuredImage.node.mediaDetails.height}
        />
      </div>

      <div class="top-header">
        <div class="top-title">
          <h2 class="fs-80">
            <span>M</span>eet <span>O</span>ur <span>T</span>eam
          </h2>
        </div>
        <h3 class="fs-30">Executive team</h3>
      </div>
      <div class="main-grid-list">
        {
          Executive.map((member) => (
            <a href={`/about-us/${member.slug}`}>
              <div class="grid-card">
                <div class="main-team-img">
                  <img
                    src={member.featuredImage.node.sourceUrl}
                    alt={member.title}
                    width={member.featuredImage.node.mediaDetails.width}
                    height={member.featuredImage.node.mediaDetails.height}
                  />
                </div>

                <div class="title">
                  <h3>{member.title}</h3>
                  <p set:html={member.excerpt} />
                </div>
              </div>
            </a>
          ))
        }
        <div class="full-titles">
          <h3 class="fs-30">Administration</h3>
        </div>
        {
          Administration.map((member) => (
            <a href={`/about-us/${member.slug}`}>
              <div class="grid-card">
                <div class="main-team-img">
                  <img
                    src={member.featuredImage.node.sourceUrl}
                    alt={member.title}
                    width={member.featuredImage.node.mediaDetails.width}
                    height={member.featuredImage.node.mediaDetails.height}
                  />
                </div>

                <div class="title">
                  <h3>{member.title}</h3>
                  <p set:html={member.excerpt} />
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</BaseLayout>
